## Ignore mac files
.DS_Store
DS_Store

## whitelist .gitkeep files
!.gitkeep

## ignore all files in scripts
scripts/*
!scripts/Libraries
scripts/Libraries/*
!scripts/.gitkeep
!scripts/ExampleModule.lua
!scripts/Libraries/ExampleLibrary.lua

## ignore vscode settings
.vscode/*
